<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %} home page {% endblock %}</title>

        <meta name="keywords" content="{% block keyword %} home keyword {% endblock %}">
        <meta name="description" content="{% block description %} home description {% endblock %}">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {% block header %} {% endblock %}
</head>
<body>

    {% block sidebar %} {% endblock %}
    {% block slider %} {% endblock %}
    {% block body %} {% endblock %}
    {% block footer %} {% endblock %}





</body>
</html>